.popup-box .img-confitte {
  width: 350px;
  margin-top: -90px;
}
.popup-box h2 {
  margin-top: 10px;
  text-align: center;
  color: var(--green);
  font-weight: 600;
  font-size: 28px;
}
.popup-box img {
  height: 150px;
  margin-block: 10px;
  display: block;
  margin: auto;
}
.popup-box p {
  color: var(--black);
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  max-width: 350px;
}
.popup-box a {
  display: block;
  width: fit-content;
  padding: 10px;
  background-color: var(--orang);
  border-radius: 10px;
  color: #fff;
  border: 1px solid var(--orang);
  margin: 30px auto;
  transition: var(--main-transition-duration);
}
.popup-box a:hover {
  background-color: #fff;
  color: orange;
}
/* ***************************** */
/*********** Start User **********/
/****** Login&Register Page ******/
/* ***************************** */
.user-logreg-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
@media (max-width: 767px) {
  .user-logreg-page {
    padding: 10px;
  }
}
.user-logreg-page .fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../../../images/burger-sandwich-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.user-logreg-page .container {
  position: relative;
  max-width: 850px;
  width: 100%;
  min-height: 550px;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}
@media (max-width: 767px) {
  .user-logreg-page .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.user-logreg-page #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}
.cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  z-index: 10;
}
.cover .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/table-bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover .face * {
  position: relative;
}
.cover .face::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}
.cover .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.user-logreg-page .forms {
  height: 100%;
  width: 100%;
  background: #fff;
}
.user-logreg-page .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-logreg-page .login-form,
.user-logreg-page .signup-form {
  width: calc(100% / 2 - 25px);
}
.user-logreg-page .forms h2 {
  position: relative;
  font-size: 24px;
  color: var(--black);
}
.user-logreg-page .forms .signup-form h2 {
  margin-bottom: 20px;
}
.user-logreg-page .forms h2:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  height: 3px;
  width: 100px;
  background: #e3e3e3;
}
.user-logreg-page .forms form .inputs {
  min-height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user-logreg-page .forms form .inputs > div {
  width: 100%;
}
.user-logreg-page input {
  width: 100%;
  margin-top: 25px;
  outline: none;
  border: none;
  padding: 0 25px 8px;
  border-bottom: 2px solid #e3e3e3;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.user-logreg-page input:focus {
  border-color: #f59037ed;
}
.user-logreg-page small {
  display: block;
  color: var(--orang);
  transition: 0.5s;
  font-size: 13px;
}
.user-logreg-page small:not(.reg-pass-msg) {
  height: 20px;
}
.user-logreg-page .forms label {
  color: #27ae60;
  cursor: pointer;
}
.user-logreg-page .forms label:hover {
  text-decoration: underline;
}
.user-logreg-page .forms a {
  color: #27ae60;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}
.user-logreg-page .forms a:hover {
  text-decoration: underline;
}
.user-logreg-page .forms .submit-btn {
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #575757c3;
  border-radius: 6px;
  padding-block: 15px;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.4s ease;
}
.user-logreg-page .forms .submit-btn:hover {
  background: white;
  border: 1px solid #27ae60;
  color: #2c2c54;
}
.user-logreg-page .forms .link {
  font-size: 14px;
  margin-top: 15px;
}
.user-logreg-page .container #flip {
  display: none;
}
@media (max-width: 730px) {
  .user-logreg-page .container .cover {
    display: none;
  }
  .user-logreg-page .login-form,
  .user-logreg-page .signup-form {
    width: 100%;
  }
  .user-logreg-page .signup-form {
    display: none;
  }
  .user-logreg-page .container #flip:checked ~ .forms .signup-form {
    display: block;
  }
  .user-logreg-page .container #flip:checked ~ .forms .login-form {
    display: none;
  }
}

/* ***************************** */
/*********** End User **********/
/****** Login&Register Page ******/
/* ***************************** */
